<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    
    <title>videoChatApp</title>
    <link rel="stylesheet" href="style.css" />
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    <script src="https://unpkg.com/peerjs@1.4.4/dist/peerjs.min.js"></script>
    <script src="js/webcam.js" defer></script>
    <link rel="stylesheet" href="css/style.css"/>
    <script>
      const ROOM_ID = "{{roomId}}";
	  const users = "{{users}}";
    </script>
  </head>
  <body>
    <div id="video-grid"></div>
  </body>
  
</html>